<footer class="container">
  <p class="copyright text-center small">&copy; 2017 <a href="https://github.com/Dom-Mc/nakissandom2">nakissandom - Github</a> |
    <a href="https://twitter.com/_dom_mc">Dominic McKellar</a>
  </p>
</footer>
