  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dominic McKellar and Nakissa | Wedding App</title>
	<meta name="description" content="Created by Dominic McKellar. nakissandom.com is a Wedding app built with Sinatra (Ruby web framework), Owl Carousel, Twitter Bootstrap, Include Media, and Flickr.">
	<meta name="keywords" content="dom mckellar, dominic mckellar"
	<meta name="author" content="Dominic McKellar">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@_dom_mc">
	<meta name="twitter:title" content="Dominic McKellar and Nakissa | Wedding App">
	<meta name="twitter:description" content="Created by Dominic McKellar. nakissandom.com is a Wedding app built with Sinatra (Ruby web framework), Owl Carousel, Twitter Bootstrap, Include Media, and Flickr.">
