<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#wedding"><h1>Nakissa &amp; Dom</h1></a>    </div>
        <div id="collapse" class="collapse navbar-collapse" >
          <ul class="nav navbar-nav navbar-right">
            <li class="active" id="hideMe"><a href="#wedding">Wedding</a></li>
            <li><a href="#share">Share</a></li>
            <li><a href="#album">Wedding Album</a></li>
            <li><a href="#guestbook">Guestbook</a></li>
            <li><a href="#story">Our Story</a></li>
            <li><a href="#honeyfund">Cards &amp; Gifts</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div></nav>

      <div id="wedding" class="jumbotron fullheight">     <h1 class="title">Nakissa <span class="rwd-line">&amp;</span> Dom</h1>
        <h2>got married!</h2>
      </div>
    </header>

    <div id="drop">
      <a href="#top"><img class="arrow" src="img/arrow.svg" alt="Down arrow"></a>
    </div>


    <!-- Marketing (wrapper) -->
    <div class="marketing">


      <!-- Share Section -->
      <section id="share" class="container">
        <div class="row featurette">
          <div class="col-md-6 col-lg-6">
            <h2 class="featurette-heading" id="top">Our Wedding Album</h2>
            <p class="marginBottom">Pictures from our big day are finally here! We’re overwhelmed by the number of incredible photos &amp; videos that were generously submitted as it gave us an opportunity to witness the experience through your eyes. Thank you so much!</p>
            <p>If you still have additional photos or videos you’d like to share, it’s not too late. Simply click <span class="highlightText">Share</span> below and we’ll add your memories to our album.</p>
            <p>To view our album, scroll down and click on the <span class="highlightText">Wedding Album</span> button below to launch the slideshow. Mahalo!</p>
            <button type="button" id="dropittomeButton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#dropittomeModal">Share</button>
            <button type="button" id="dropboxButton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#dropboxModal">Share</button>
          </div>      <div class="col-md-6 col-lg-5 col-lg-offset-1">
            <div class="hidden-sm hidden-xs">              <img class="featurette-image img-responsive center-block img-circle visible-md-block visible-lg-block" src="img/kiss-350.jpg">        </div>      </div>    </div>  </section>


            <!-- Album Section -->
            <div>
              <section id="album">
                <div id="flickr-section" class="text-center vertical-center">
                  <!-- Trigger the modal with a button -->
                  <button  type="button"  id="fl" class="btn btn-info btn-lg" data-toggle="modal" data-target="#flickr-album">Wedding Album</button>
                </div>    </section>
              </div>
              <!-- Modal -->
              <div id="flickr-album" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                  <!-- Modal content-->
                  <div class="modal-content text-center">
                    <a id="view-album" href="https://flic.kr/s/aHsko3k15B" target="_blank">Album</a>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <div class="modal-body" id="slide-show">
                      <div id="flickr-photos">
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!-- Guest Book Section -->
              <section id="guestbook" class="container page">
                <div class="row featurette">
                  <div class="col-md-6 col-lg-6">
                    <h2 class="featurette-heading">Sign our Guestbook</h2>
                    <p>Would you like to leave a message for the newly weds? If you have any thoughts, memories, or <span class="nobr">y-e-s</span> even advice, we would love to hear from you.</p>
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-primary btn-lg b-pad" data-toggle="modal" data-target="#gbModal">Guestbook</button>
                  </div>      <div class="col-md-6 col-lg-6 col-lg-offset-1">
                    <img class="featurette-image img-responsive center-block visible-md-block visible-lg-block" src="img/gb.jpg">                </div>    </div>  </section>


                    <!-- Story Section -->
                    <div id="story" class="owl-carousel">
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2014h.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2014i.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2014.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2015a.jpg" alt="">
                      </div>

                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/pic11.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/pic12.jpg" alt="">
                      </div>

                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2014a.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2014b.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2014d.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2014e.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2014j.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2013e.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2013z.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2013x.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2013c.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2013h.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2013y.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2013i.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2012b.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2012a.jpg" alt="">
                      </div>

                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/pic6.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2010.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2009y.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2009x.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2009z.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2009c.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2008c.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2008z.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2008y.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2008x.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2008w.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2008e.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2008f.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2007z.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2007e.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2007.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2007b.jpg" alt="">
                      </div>

                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/pic3.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/pic4.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/pic10.jpg" alt="">
                      </div>
                      <div class="item">
                        <img class="lazyOwl" data-src="img/story/2005.jpg" alt="">
                      </div>
                    </div>


                    <!-- Honeyfund Section -->
                    <section id="honeyfund" class="container page">
                      <div class="row featurette">
                        <div class="col-md-6 col-lg-5">
                          <img class="featurette-image img-responsive center-block visible-md-block visible-lg-block" src="img/gift.jpg">
                        </div>
                        <div class="col-md-6 col-lg-6 col-lg-offset-1">
                            <h2 class="featurette-heading">Cards &amp; Gifts </h2>
                            <p>We feel so fortunate that you all could make the trip and help us celebrate our special day! For those who would like to give or send a gift, please see our information below.
                            </p>
                            <p><b>Mailing address -</b> Nakissa &amp; Dom, 140 South Van Ness Ave, #309, San Francisco, CA 94103</p>
                            <div id="paypal">
                              <p><b>Going paperless?</b> You can send a gift to our PayPal account by clicking the link below. You'll be redirected to our personal PayPal page.</p>
                              <p><a href="https://www.paypal.me/nakissandom" target="_blank"><small>Paypal ID: nakissandom@gmail.com</small></a></p>
                              <p><a href="https://www.paypal.me/nakissandom" target="_blank">
                                <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="PayPal"/></a>
                              </p>
                            </div>
                          </div>
                        </div>
                      </section>


                            <div id="view"></div>


                            <!-- Contact Section -->
                            <section id="contact" class="container page">
                              <div class="row featurette">
                                <div class="col-md-6 col-sm-12">
                                  <h2 class="featurette-heading">Contact Us</h2>
                                  <p>If you would like to reach either Nakissa or Dom, you can reach us at <a href="mailto:nakissandom@gmail.com?Subject=Contact%20Us" target="_top">nakissandom@gmail.com</a> and we’ll get back to you at our earliest convience. <i class="fa fa-smile-o"></i></p>
                                </div>      <div class="col-md-5 col-md-offset-1 col-sm-12">
                                  <img class="featurette-image img-responsive center-block img-circle" src="img/smiles-350.jpg"
                                  srcset="img/smiles-350.jpg 1x,
                                  img/smiles-700.jpg 2x,
                                  img/smiles-1050.jpg 3x">
                                </div>
                              </div>
                            </section>


                              </div>



                              <!-- Modals -->
                              <!-- Modal -->
                              <div id="flickr-album" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-lg">
                                  <!-- Modal content-->
                                  <div class="modal-content text-center">
                                    <a id="view-album" href="https://flic.kr/s/aHsko3k15B" target="_blank">Album</a>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                    <div class="modal-body" id="slide-show">
                                      <div id="flickr-photos">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div id="gbModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">

                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                      <h2 class="modal-title text-center">Guestbook</h2>
                                      <p class="text-center">Thank you for taking the time to sign our guestbook!</p>




                                    </div>
                                    <div class="modal-body">

                                      <!-- Form Start -->
                                      <form method="POST" action="http://nakissandom.com" accept-charset="UTF-8"><input name="_token" type="hidden" value="x2lUhP9Lr8VMXUS4hhHFSOQzMMkD8z07S7PHwfUK">

                                        <section class="form-horizontal">
                                          <div class="form-group">
                                            <label for="name" class="col-sm-4 control-label">Name:</label>
                                            <div class="col-sm-6">
                                              <input class="form-control input-x" placeholder="Your Name" name="name" type="text" id="name">
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <label for="message" class="col-sm-4 control-label">Message:</label>
                                            <div class="col-sm-6">
                                              <textarea class="form-control input-x" placeholder="Leave a Message" rows="3" name="message" cols="50" id="message"></textarea>
                                            </div>
                                          </div>
                                        </section>

                                      </div>
                                      <div class='modal-footer'>
                                        <div class="centered">
                                          <input class="btn btn-primary btn-lg" type="submit" value="Submit">
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div id="dropittomeModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                      <div class="modal-content">
                                        <div class="modal-header">

                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><br>
                                          <h2 class="modal-title text-center">Upload photos &amp; videos</h2>

                                          <p class="text-center"><i class="fa fa-key"></i> Enter <span class="highlightText">kona2015</span> as the "upload password"</p>
                                        </div>
                                        <div class="modal-body">

                                          <!-- Form Start -->
                                          <div class="row" style="height:1000px">
                                            <div class="col-md-12" style="height:100%">
                                              <iframe src="https://dropitto.me/nakissandom" width="100%" height="100%" >
                                                <p>Your browser does not support iframes.</p>
                                              </iframe>
                                            </div>
                                          </div>
                                        </div>
                                        <div class='modal-footer'>

                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div id="dropboxModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                          <div class="modal-content">
                                            <div class="modal-header">

                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                              <h2 class="modal-title text-center">Upload Photos &amp; Videos</h2>
                                            </div>
                                            <div class="modal-body">
                                              <div class="dropboxModalpad">
                                                <p><i class="fa fa-check-square-o firstLetter"></i> Click on the <span class="highlightText">Upload</span> button below and you’ll be taken to our dropbox page: <i>Nakissa &amp; Dom - Wedding Album.</i></p>
                                                <p><i class="fa fa-check-square-o firstLetter"></i> Select either <span class="highlightText">Choose from computer</span> to upload photos or videos from your computer/tablet/phone or select <span class="highlightText">Choose from Dropbox</span> to upload directly from your own dropbox account.</p>
                                                <p><i class="fa fa-check-square-o firstLetter"></i> Once your files have been added, simply provide your First name, Last name, Email address, and click <span class="highlightText">Upload</span>.</p>
                                                <p><i class="fa fa-check-square-o firstLetter"></i> And you're done!</p>
                                              </div>
                                            </div>
                                              <div class='modal-footer'>
                                                <div class="centered">
                                                  <a class="btn btn-primary btn-lg active" id="shareButton" href="https://www.dropbox.com/request/VuEJGJ8qB270cZvku8JU" role="button">Share</a>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
